/* UserDirectory.css */

.user-directory-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-directory-title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;

}

.selected-user-details {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selected-user-details h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.selected-user-details p {
  font-size: 1rem;
  color: #555;
  margin: 0;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  .directory-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .directory-buttons button {
    width: 100%;
    margin-bottom: 10px;
  }
}
